body {
  height: 100%;
  background-color: rgb(245, 227, 227);
}
header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  h1 {
    width: 100%;
  }
  .rgb {
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 38px;
    padding: 10px 0;

    #color {
      height: auto;
    }
  }
}

main {
  // background: #111;

  margin: 0 auto;
  height: 600px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  padding-left: 10%;
  padding-right: 47%;
  height: 42px;
  background-color: cadetblue;

  button {
    background-color: rgb(117, 117, 117);
    border: 1px solid #eee;
    border-radius: 4px;
    color: #eee;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }

  p {
    color: #eee;
    font-size: 22px;
  }
}

#container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 750px;
}
.square {
  height: 200px;
  width: 200px;
  margin: 10px 20px;
}
